{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load tz %}
{% load static %}

{% block head %}
{{ block.super }}
<script src="{% static 'netbox_floorplan/vendors/fabric.js' %}"></script>
<script src="{% static 'netbox_floorplan/vendors/jq.js' %}"></script>

{% endblock head %}


{% block breadcrumbs %}
{{ block.super }}
{% if object.region %}
{% for region in object.region.get_ancestors %}
<li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?region_id={{ region.pk }}">{{ region }}</a></li>
{% endfor %}
{% elif object.group %}
{% for group in object.group.get_ancestors %}
<li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?group_id={{ group.pk }}">{{ group }}</a></li>
{% endfor %}
<li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?group_id={{ object.group.pk }}">{{ object.group }}</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<style>
    #drag_zone {
        box-sizing: content-box;
    }

    .drag {
        z-index: 999;
    }

    #drag-container {
        padding-right: 1rem
    }
</style>

<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <div class="card-body" id="content-container">
                <div class="row">
                    <div class="text-end">
                        {% if floorplan is none %}
                        <a class="btn btn-sm btn-primary"
                            href="/plugins/floorplan/floorplans/add/?{% if record_type == 'site' %}site{% else %}location{% endif %}={{object.id}}">
                            <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
                            Add Floorplan
                        </a>
                        {% else %}
                        <input type="hidden" id="floorplan_id" value="{{floorplan.id}}">
                        <a class="btn btn-sm btn-outline-success" id="export_svg">
                            Export SVG
                        </a>
                        <a class="btn btn-sm btn-warning" href="/plugins/floorplan/floorplans/{{floorplan.id}}/edit/">
                            <span class="mdi mdi-pencil" aria-hidden="true"></span>
                            Edit Floorplan
                        </a>
                        <a class="btn btn-sm btn-danger" href="#"
                            hx-get="/plugins/floorplan/floorplans/{{floorplan.id}}/delete/"
                            hx-target="#htmx-modal-content" data-bs-toggle="modal" data-bs-target="#htmx-modal">
                            <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span>
                            Delete Floorplan
                        </a>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div id="drawing">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
                <br>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            {% include 'netbox_floorplan/inc/pro_tips.html' %}
            </div>
        </div>
    </div>
</div>

<script type="module" src="{% static 'netbox_floorplan/floorplan/view.js' %}"></script>

{% endblock content %}